/* --- Modified Everforest for True Black Background --- */

@define-color black       #000000;
@define-color white       #FFFFFF;
@define-color bg_dim      #000000;
@define-color fg          #CFCFCF;
@define-color red         #E57373;
@define-color orange      #F78C6C;
@define-color yellow      #FFD54F;
@define-color green       #81C784;
@define-color aqua        #4DD0E1;
@define-color blue        #64B5F6;
@define-color purple      #BA68C8;
@define-color grey1       #555555;
@define-color grey2       #666666;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  border: 1px solid transparent;
  border-radius: 0px;
  margin: 0px 1px;
  padding: 0;
}

window#waybar {
  border: none;
  background-color: @black;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#window {
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  background-color: @bg1;
}

window#waybar.empty,
window#waybar.empty #window {
  background: none;
}

.modules-left button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 5px;
}

.modules-left button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 5px;
}

#custom-menu,
#custom-arch {
  background-color: @black;
  color: @red;
}

#custom-swaync {
  color: @purple;
}

#workspaces button {
  padding: 0px 5px;
  background-color: @grey1;
  color: @white;
}

#taskbar button.active,
#workspaces button.active {
  background-color: @purple;
  color: @black;
  animation: gradient_f 20s ease-in infinite;
}

#taskbar button:hover,
#workspaces button:hover {
  background-color: @purple;
  color: @black;
}

#workspaces button.focused {
  background-color: @green;
  color: @black;
}

#workspaces button.urgent {
  background-color: @red;
  color: @white;
  border: 2px solid @red;
  box-shadow: 0 0 10px @red;
  font-weight: bold;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

#cpu {
  border-radius: 5px 0px 0px 5px;
  padding: 0px 5px;
  background-color: @purple;
  color: @black;
}

#memory {
  padding: 0px 5px;
  background-color: @purple;
  color: @black;
}

#temperature {
  padding: 0px 5px;
  background-color: @green;
  color: @black;
}
#temperature.critical {
  background-color: @red;
}

#disk {
  border-radius: 0px 5px 5px 0px;
  padding: 0px 5px;
  margin-right: 5px;
  background-color: @green;
  color: @black;
}

#battery.bat2 {
  border-radius: 0px 5px 5px 0px;
}

.modules-left :last-child {
  border-radius: 0px 5px 5px 0px;
}

#battery {
  border-radius: 5px 0px 0px 5px;
  padding: 0px 5px;
  background-color: @aqua;
  color: @black;
}

#battery.plugged,
#battery.charging {
  color: @fg;
  background-color: @bg_green;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  to {
    background-color: @fg;
    color: @bg_dim;
  }
}

#backlight {
  border-radius: 5px 0px 0px 5px;
  padding: 0px 5px;
  margin-left: 5px;
  background-color: @orange;
  color: @black;
}

#network,
#pulseaudio {
  padding: 0px 5px;
  border-radius: 0px 5px 5px 0px;
  background-color: @blue;
  color: @black;
}

#pulseaudio.muted {
  background-color: @grey2;
  color: @black;
}

#tray {
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 5px;
  color: @fg;
  background-color: @bg0;
}

#custom-hypridle,
#idle_inhibitor {
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: @blue;
  color: @black;
}

#custom-hypridle.notactive,
#idle_inhibitor.activated {
  background-color: @fg;
  color: @bg0;
}

#clock {
  padding: 0px 5px;
  border-radius: 5px;
  margin: 0px 5px;
  color: @black;
  background-color: @aqua;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: #e57373;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding-right: 5px;
  padding-left: 5px;
}
